<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script> -->
<title>Country</title>
	
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
		integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	
	<!-- Remix Icon CDN -->
	<link
		href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
		rel="stylesheet" />
	
	
<link th:href="@{/css/style.css}" rel="stylesheet">
	<link th:href="@{/css/toast.css}" rel="stylesheet">
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/custom_table.css}">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 





<script type="text/javascript">
	function getState(id) {
		
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {

			if (this.readyState == 4 && this.status == 200) {

				document.getElementById('state.id').innerHTML = this.responseText;
			}

		};

		xhttp.open("GET", "../district/getStateByCountryId?id=" + id
				+ "&action=getStates", true);
		xhttp.send();

	}
</script>
</head>
<body style="background-color: gray;">




		<!-- Sidebar -->
		<div th:replace="Layout/Fragments/header.html :: header"></div>
		<!-- Sidebar Ended Here  -->

	<div class="main-content  p-0">
		<div th:replace="Layout/Fragments/header.html :: topbar"></div>

		<div
			class="container-fluid row pb-3 d-flex justify-content-center mt-5">



			<!-- <div class="ms-5 col-md-12">

<div class="   "> -->
			<div class="ms-5 col-md-8 p-4 border mb-4">
				<div class="panel">
					<div class="panel-heading">
						
						<div style="padding-top: 30px" class="panel-body">

							<form id="loginform" class="form-horizontal"
								th:action="@{saveDistrict}" th:object="${district}"
								method="post">


								<input type="hidden" th:field="*{id}">


								<div style="margin-bottom: 20px" class="input-group">

									<select class="form-select" th:field="*{state.country.id}"
										onChange="getState(this.value);"
										aria-label="Default select example"
										style="width: 273px; height: 35px;">


										<option value="">Select Country</option>
										<option th:each="i : ${countryList}" th:value="${i.id}"
											th:text="${i.countryName}"></option>


									</select>

									<div>
										<span th:if="${#fields.hasErrors('state.country.id')}"
											th:errors="*{state.country.id}" class="text-danger">Error
											Field</span>

									</div>


								</div>


								<div style="margin-bottom: 20px" class="input-group">

									<select class="form-select" th:field="*{state.id}"
										aria-label="Default select example"
										style="width: 273px; height: 35px;">

										<option value="">Select State</option>
										<option th:each="i : ${stateList}" th:value="${i.id}"
											th:text="${i.stateName}"></option>


									</select>

									<div>
										<span th:if="${#fields.hasErrors('state.id')}"
											th:errors="*{state.id}" class="text-danger">Error
											Field</span>
									</div>


								</div>

								<div style="margin-bottom: 25px" class="input-group">
									<label class="me-3"> District Name</label> <input
										id="countrycode" type="text" th:field="*{districtName}"
										class="form-control" name="countrycode" placeholder="">

									<div>
										<span th:if="${#fields.hasErrors('districtName')}"
											th:errors="*{districtName}" class="text-danger">Error
											Field</span>

									</div>

								</div>

								<div style="margin-top: 10px" class="form-group">
									<!-- Button -->

									<div class="col-sm-12 controls text-center">

										<button type="reset" class="btn btn-reset">Cancel</button>

										<button type="submit" class="btn btn-primary">Save</button>

									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="container-fluid row pb-3 d-flex justify-content-center">
				<div class="col-md-12 ms-5">
					<div class="card">
						<div class="card-body">
							<table class="table" border="3">
								<thead>
									<tr>
										<td>Id</td>
										<td>Country Name</td>
										<td>State Name</td>
										<td>District Name</td>
										<td>Update/Delete</td>

									</tr>
								</thead>

								<tbody>
									<tr th:each="i : *{districtList}">
										<td th:text="*{i.id}"></td>
										<td th:text="*{i.state.country.countryName}"></td>
										<td th:text="*{i.state.stateName}"></td>
										<td th:text="*{i.districtName}"></td>

										<td><a th:href="@{update(id=${i.id})}"
											class="btn btn-success">Update</a> <a
											th:href="@{delete(id=${i.id})}" class="btn btn-danger">Delete</a>
										<td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>





	<script th:src="@{/js/custom.js}"></script>
	
</body>
</html>
